name: CI

on:
  push:
    branches:
      - main
      - case-key-paths
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
    macos:
        name: macos 26
        runs-on: macos-26
        strategy:
          matrix:
            xcode: ["26.1"]
            config:
              - debug
              - release
        steps:
            - name: Select Xcode ${{ matrix.xcode }}
              run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
            - name: Show Xcode and Swift versions
              run: |
                xcodebuild -version
                swift --version
            - name: Checkout Package
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
            - name: View Swift Version
              run: swift --version
            - name: Build and Test
              run: |
                swift build
                swift test
